@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: Poppins-Regular;
  src: url("../assets/fonts/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #001f51;
  --secondary-color: #d00000;
  --tertiary-color: #ffffff;
  --active-color: #940f14;
  --quaternary-color: #b8b8b8;
  --section-bg-color: #f3f3f3;
  --footer-bg-color: rgba(0, 31, 81, 0.8);
}

/* Common Styles */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

ul {
  list-style-type: none;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-50 {
  width: 50%;
  padding: 0 15px;
}

.col-33 {
  width: 33.33%;
  padding: 0 15px;
}

.btn {
  cursor: pointer;
  padding: 18.5px 30.5px;
  font-family: Poppins-Regular, sans-serif;
  font-size: 18px;
  border-radius: 7px;
}

.primary-btn {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.primary-btn:hover {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border: solid 1px var(--primary-color);
}

.secondary-btn {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

.secondary-btn:hover {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border: solid 1px var(--secondary-color);
}

.title1 {
  font-family: Inter, sans-serif;
  font-size: 100px;
  font-weight: 400;
  line-height: 100px;
  color: var(--primary-color);
}

.title2 {
  font-size: 50px;
  font-family: Inter;
  font-weight: normal;
  line-height: 60px;
  color: var(--primary-color);
  margin-bottom: 37px;
}

.highlight {
  font-weight: bold;
  font-style: italic;
  color: var(--secondary-color);
}

/* Navbar Styles */

header {
  padding: 15px 0;
}

nav,
.navbar-collapsed,
.navbar-collapsed > ul {
  display: flex;
  align-items: center;
}

.nav-logo > a {
  width: 208.49px;
}

.nav-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar-toggler {
  display: none;
}

.navbar-collapsed {
  flex-grow: 1;
}

.navbar-collapsed ul {
  margin-left: auto;
}

.nav-links {
  font-family: Poppins-Regular, sans-serif;
  font-size: 18px;
  color: var(--primary-color);
  margin-right: 35px;
}

.nav-links:hover {
  color: var(--active-color);
}

.active {
  color: var(--active-color) !important;
}

.last-link {
  margin-right: 0 !important;
}

.nav-btn {
  margin-left: 30px;
}

/* Banner Styles */

.banner {
  padding: 129px 0 127px;
  background: url("../assets/Banner.png") no-repeat center/cover;
}

.textarea {
  max-width: 630px;
}

.banner h1 ~ p {
  font-family: Poppins-Regular, sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: var(--primary-color);
  margin-bottom: 35px;
  padding-right: 60px;
}

/* Form Styles */

.newsletter-form {
  max-width: 468px;
  padding: 34px 39px 39px 19px;
  background-color: var(--tertiary-color);
  border-radius: 20px;
  text-align: center;
}

.newsletter-form p {
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 47px;
  text-align: center;
}

input,
textarea {
  width: 100%;
  max-width: 410px;
  min-height: 40px;
  border: solid 1px var(--quaternary-color);
  border-radius: 5px;
  margin-bottom: 20px;
}

input::placeholder,
textarea::placeholder {
  font-family: Poppins-Regular, sans-serif;
  font-size: 18px;
  color: var(--quaternary-color);
  padding-left: 15px;
}

textarea {
  height: 106px;
}

.banner button {
  margin-top: 10px;
  border: none;
}

/* Team Styles */

.team {
  padding: 100px 0;
}

.teamImg {
  max-width: 568px;
}

.teamImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teamDetails {
  max-width: 539px;
}

.teamDetails > p {
  font-size: 18px;
  line-height: 28px;
  font-family: Poppins-Regular;
  margin-bottom: 37px;
}

/* Products Styles */

.products {
  padding: 100px 0;
  background-color: var(--section-bg-color);
  text-align: center;
}

.products .container > p {
  font-size: 18px;
  font-family: Poppins-Regular;
  line-height: 28px;
  margin: 3px auto 40px;
  max-width: 777px;
}

.card {
  max-width: 370px;
  padding: 15px;
  background-color: var(--tertiary-color);
  border-radius: 20px;
  margin-bottom: 21px;
}

.cardImg {
  max-width: 340px;
}

.cardImg > img {
  width: 100%;
  height: 285px;
  object-fit: cover;
}

.cardText {
  margin: 22px 0 25px;
  text-align: left;
  color: var(--primary-color);
  font-family: Inter;
  font-weight: 600;
  font-size: 23px;
  line-height: 33px;
}

/* Footer Styles */

footer {
  background: url("../assets/sec-bg.png") var(--footer-bg-color) no-repeat
    center/cover;
  background-blend-mode: darken;
  padding: 55px 0;
  text-align: center;
}

.logo2 {
  max-width: 312.84px;
  margin: 0 auto 60px;
}

.logo2 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer .container > p {
  font-size: 18px;
  font-family: Inter;
  line-height: 28px;
  color: var(--tertiary-color);
}

/* Responsiveness */

@media screen and (max-width: 1155px) {
  .col-50 {
    text-align: center;
    width: 100%;
  }

  .col-33 {
    text-align: center;
    width: 100%;
  }

  .textarea,
  .newsletter-form,
  .teamImg,
  .teamDetails,
  .card {
    margin: 0 auto 50px;
  }
}

@media screen and (max-width: 945px) {
  .navbar-collapsed {
    display: none;
  }

  nav {
    flex-grow: 1;
  }

  .navbar-toggler {
    display: block;
    margin-left: auto;
    font-size: 24px;
    color: var(--primary-color);
    cursor: pointer;
  }

  header {
    position: relative;
  }

  #navbar-toggler:checked ~ .navbar-collapsed {
    display: block !important;
    background: var(--tertiary-color);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }

  .navbar-collapsed > ul {
    flex-direction: column;
  }

  .nav-links,
  .nav-btn {
    margin: 0 !important;
    text-align: center;
  }
}
